body {
  padding: 0;
  margin: 0;
}

#clicker_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#fertig_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#clicker {
  width: 80%;
  height: 100px;
  margin-top: 40%;
}

#fertig {
  width: 80%;
  height: 100px;
  margin-top: 20%;
}