body {
  padding: 0;
  margin: 0;
  text-align: center;
}

#numInput {
  display: inline-block;
  align-items: center;
  margin: auto;
  margin-top: 60%;
}

#forminput {
  padding: 5px;
  border-radius: 25px;
  height: 50px;
  font-size: 16pt;
}

#submit{
  margin-top: 50px;
  height:50px;
  width:200px;
}
